@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* {
    margin: 0;
  }
// header section
  .return-icon{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.3rem;
    left: 1.25rem;
    cursor: pointer;
  }
.landing-pages{
    height: 275px;
    width: 100%;
    object-fit: cover;
}
// Starter & co
.menu-restaurant__header{
  display: flex;
    justify-content: space-between;
    position: relative;
  .restaurant-prev__favicon{
    position: relative;
  }
  .header-container{
    margin: auto;
  }
  .like-icon{
    cursor: pointer;
    position: absolute;
    bottom: 47px;
    left: 286px;
    font-size: 1.5em;
  }
  .fa-solid{
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.3s;
  &:hover{
    opacity: 1;
  }
  }
}
.menu-restaurant{
    background-color: #f6f6f6;
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -55px;
    padding: 12px;
    h2{
      padding: 35px 0 40px 16px;
      font-family: 'Shrikhand', cursive;
      font-size: 28px;
      font-weight: 400;
    }
    h3{
      font-weight: 300;
      font-size: 16px;
      padding-bottom: 5px;
    }
    .starters-underline{
      border: 1.5px solid #99E2D0;
      width: 40px;
    }
    .starters--style{
      background-color: white;
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      margin: 12px 0px 12px 0px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      animation: slide-right 1000ms ease-in-out;
    }
    .starters--style {
    transition: all 1s;
}

.starters--style:hover .menu-restaurant__checker {
  right: calc(100% - 400px);
  width: 59px;
  .fa-solid.fa-circle-check{
    opacity: 1;
    transition: opacity 0.5s;
  }
}


    
    @keyframes slide-right {
      from {
        opacity: 0;
        transform: translateX(-100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .text-container{
      padding: 12px 0px 12px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .starter-title{
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    .starter-subtitle{
      font-size: 15px;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .starter-price{
      font-size: 15px;
      font-weight: 700;
      padding: 34px 30px 0 0;
    }
    .menu-restaurant__order{
      display: flex;
      justify-content: center;
      .button--gradient{
        color: white;
        text-align: center;
        text-decoration: none;
        width: 185px;
        border-radius: 25px;
        padding: 15px 7px 15px 7px;
        margin: 40px 0;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.3s;
        opacity: 1;
        &:hover {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
          opacity: 0.8;
        }
      }
    }
}
.price-container{
  display: flex;
}
.menu-restaurant__checker{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  .fa-solid.fa-circle-check{
    font-size: 23px;
    color: white;
    opacity: 0;
  }
  transition: right 0.5s, width 0.5s;
}

// Responsive

@media screen and (min-width:992px) {
  .return-icon{
    font-size: 25px;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 2.2rem;
    left: 1.25rem;
    cursor: pointer;
  }
  .menu-restaurant{
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-pages{
    height: 423px;
  }
  .menu-restaurant__dish, .menu-restaurant__starters, .menu-restaurant__desserts{
    width: 60%;
    margin: auto;
  }
}

  

