@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1, h2, h3, p, a, ul, li {
  font-family: "Roboto", Helvetica, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html a, body a {
  text-decoration: none;
  color: black;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: fadeOut 5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#loader {
  display: block;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #99E2D0;
  position: relative; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before, #loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}

#loader:after {
  animation-delay: 0.5s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #9356DC;
  z-index: 1000; /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.3s 1s ease-out;
}

.main-logo {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
}

.localisation {
  background-color: #EAEAEA;
  height: 50px;
}
.localisation p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
}
.localisation p .fa-location-dot {
  padding-right: 15px;
}

.landing-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 55px;
}
.landing-explore p, .landing-explore h1 {
  text-align: center;
  padding: 10px 0;
  margin: 0 45px;
}
.landing-explore .button--gradient {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 210px;
  border-radius: 25px;
  padding: 15px 7px 15px 7px;
  margin-top: 25px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  opacity: 1;
}
.landing-explore .button--gradient:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.8;
}

.functionnality {
  padding: 50px 20px 70px 20px;
}
.functionnality .fa-mobile-screen-button, .functionnality .fa-list-ul, .functionnality .fa-store {
  margin-right: 30px;
  color: #7E7E7E;
}
.functionnality h2 {
  margin-bottom: 25px;
}
.functionnality ol {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.functionnality li {
  list-style: none;
  padding: 1.5em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
  margin-bottom: 1.5em;
  background-color: #F7F7F7;
  transition: all 0.3s;
}
.functionnality li:hover {
  background-color: #F5EDFF;
}
.functionnality li:hover .fa-mobile-screen-button, .functionnality li:hover .fa-list-ul, .functionnality li:hover .fa-store {
  color: #9356DC;
}
.functionnality li span {
  background: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  top: 1.3rem;
  left: -0.75rem;
  color: white;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px 70px 20px;
}
.restaurants h2 {
  padding-bottom: 30px;
}

.restaurant-prev {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 18px;
}
.restaurant-prev img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
  width: 100%;
}
.restaurant-prev .cards-img {
  position: relative;
}
.restaurant-prev a {
  text-decoration: none;
  color: black;
}
.restaurant-prev p {
  padding-top: 5px;
}
.restaurant-prev .tags {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 7px 8px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 14px;
}

.restaurant-prev__caption {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 15px 15px;
  position: relative;
}
.restaurant-prev__caption .fa-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.3s;
}
.restaurant-prev__caption .fa-solid:hover {
  opacity: 1;
}
.restaurant-prev__caption .like-icon {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  left: -40px;
}
.restaurant-prev__caption .restaurant-prev__favicon {
  position: relative;
}

.like-container {
  display: flex;
}

footer {
  background-color: #353535;
  padding: 22px 0 33px 25px;
}

.footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.footer ul {
  list-style: none;
  padding: 0px;
}
.footer ul li {
  padding-top: 7px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a .fa-utensils, .footer a .fa-handshake-angle {
  margin-right: 11px;
  width: 11px;
}

@media screen and (min-width: 992px) {
  .main-logo {
    height: 96px;
  }
  .landing-explore h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .landing-explore p {
    font-size: 18px;
    font-weight: 300;
  }
  .functionnality {
    max-width: 1050px;
    margin: 0 auto;
  }
  .functionnality .functionnality-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .functionnality ol {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .functionnality li {
    margin-left: 24px;
    width: 280px;
  }
  .restaurants {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .restaurants .restaurants-container {
    max-width: 1050px;
    margin: 0 auto;
  }
  .restaurants .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    width: 150%;
  }
  .restaurants .restaurant-prev {
    width: 335px;
  }
  footer {
    height: 70px;
    padding: 50px 0 0 0;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer h4 {
    padding: 0 90px 0 70px;
  }
  .footer ul {
    display: flex;
  }
  .footer ul li {
    padding-top: unset;
    padding-left: 60px;
  }
}/*# sourceMappingURL=style.css.map */